aiodns==2.0.0
aiohttp==3.6.2
async==0.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.1.0
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
dbus-python==1.2.16
entrypoints==0.3
idna==2.9
jeepney==0.4.2
keyring==18.0.1
keyrings.alt==3.2.0
maxminddb==1.5.2
multidict==4.7.5
numpy==1.18.1
proxybroker==0.3.2
pycares==3.1.1
pycparser==2.20
pycrypto==2.6.1
#pycurl==7.43.0.2
#PyGObject==3.34.0
#python-apt==1.8.5
pyxdg==0.26
SecretStorage==3.1.2
six==1.14.0
unattended-upgrades==0.1
yarl==1.4.2
